#pattern{
    width: 80%;
    height: 80%;
    align-items: center;
    margin: auto;
}

#menu {
    text-align: center;
    color: aliceblue;
    background-color: #3F2104;
    border-radius: 25px;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#buttons{
    background-color: seagreen;
    align-items: center;
    margin-left: auto;
    border-color: black;
}

